html{
    font-family: sans-serif;
    font-size: .9rem;
    color:#323a46;
    background-color: #E5E2E2;
    text-align: center;
}
.logo{
    width: auto;
    height: 77px !important;
}
.email-confirmation{
    margin-top:.5rem;
    font-size: .7rem;
    float:right;
    color: #001A9F;
    text-transform: uppercase;
}
p {line-height: 1.7rem;}
.button-box{
    margin-top:15px;
    margin-bottom: 15px;
}
.container-header, .container{
    width: 100%;
    max-width: 576px;
    text-align: left;
    margin-right: auto;
    margin-left: auto; 
}
.container {
    padding: 12px;
    background-color: #ECECEC;
    border-radius: 25px 17px;
}
.button{
    padding: 15px 33px;
    margin: 15px 0px;
    background-color: #71b6f9;
    border-radius:5px;
    color:#ffffff;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
}
.dark{ color:#959596; }
.footer{
    border-top: 1px solid #323a46;
    background-color:#e6e3e3;
    padding:5px;
}
.blue{ color:#71b6f9; }
.small{font-size: .9rem;}
.text-center{text-align: center;}
@media (max-width: 575px) {
    .container-header, .container { max-width: 337px; } 
    span.email-confirmation{
        margin-top:1rem;
        font-size: 1rem !important;
    }
}
@media (min-width: 576px) {
    .container-header, .container { max-width: 540px; } 
}
@media (min-width: 768px) {
    .container-header, .container { max-width: 720px; } 
}
@media (min-width: 992px) {
    .container-header, .container { max-width: 960px; } 
}
@media (min-width: 1200px) {
    .container-header, .container { max-width: 1140px; } 
}